/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.clearfix:after {
    content: "."
display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}



/* FONTS */
@font-face {
    font-family: "LeagueGothic";
    src: url(fonts/league-gothic/LeagueGothic-CondensedRegular.otf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Light";
    src: url(fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "Raleway Bold";
    src: url(fonts/raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Bringin";
    src: url(fonts/Bringin.ttf);
}

/* HEADER */
.header a {
    text-decoration: none;
    color: #9daeb6;
}

.header {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.logo {
    float: left;
    padding: 20px;
}

.menu-wrap {
    float: left;
}

.container .call {
    float: right;
    border: 3px solid #36aeea;
    margin: 12px 0;
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Raleway Bold", sans-serif;
    font-size: 0.8em;
    color: #36aeea;
}

.nav .menu li {
    float: left;
    padding: 25px 30px;
}

.nav .menu li a {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: #9daeb6;
    text-transform: uppercase;
}

.nav .menu li a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #36aeea;
}

.billboard, .billboard img {
    width: 100%;
}

.wraper {
    position: relative;
    width: 1130px;
    margin: 0 auto;
}

.bill-info {
    position: absolute;
    top: -460px;
    border: 4px solid #ffffff;
    min-width: 1100px;
    min-height: 300px;
    padding: 20px 40px;
}

.bill-info h1 {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 3.4em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: -18px;
    letter-spacing: 5px;
}

.billboard .bill-info .mountains {
    font-family: "Bringin", sans-serif;
    font-size: 4.15em;
    color: #56c7ff;
    letter-spacing: 4px;
    line-height: 1;
    padding-bottom: 0;
}

.bill-info p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.26em;
    line-height: 1.5;
    color: #dde0e2;
    padding-bottom: 50px;
}

.bill-info .order-now {
    padding: 20px 70px;
    background: #36aeea;
    color: #ffffff;
    font-family: "Raleway Bold", sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    text-decoration: none;
}

/* BODY */

.blog {
    width: 100%;
    background: #f6f4f4;
    min-height: 665px;
    overflow: hidden;
}

.map {
    position: absolute;
    left: 100px;
}

.about-us {
    width: 400px;
    position: absolute;
    top: 190px;
}

.wave {
    padding-bottom: 30px;
}

.about-us h3 {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #2c2e37;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.about-us p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #949494;
    padding-bottom: 30px;
    line-height: 1.5;
}

.about-us .read-more {
    padding: 10px 30px;
    background: #36aeea;
    color: #ffffff;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    text-decoration: none;
}

.blog1 {
    position: absolute;
    top: -35px;
    left: 575px;
}

.blog2 {
    position: absolute;
    top: 275px;
    left: 485px;
}

#journal .container {
    width: 1140px;
}

.journal-container {
    text-align: center;
    padding-top: 50px;
}

.journal-container h2 {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 3px;
    color: #2c2e37;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.journal-wrapper {
    box-shadow: 0 0 20px 10px #f1f1f1;
}

.journal-wrapper img {max-width: 380px}

.bottom {padding-bottom: 50px}

.journal-wrapper a {float: left}

.journal-box {
    width: 380px;
    float: left;
    text-align: center;
    position: relative;
}

h5 {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 40px 0;
}

.journal-01 {color: #16b5ef;}
.journal-02 {color: #0083b3;}
.journal-03 {color: #0083b3;}

h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 3px;
    color: #212121;
    text-transform: uppercase;
    margin: 0 20px;
    padding-bottom: 20px;
    line-height: 1.5;
}

.journal-box p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    color: #777777;
    font-weight: 500;
    margin: 0 40px;
    line-height: 1.5;
}

.journal-box .number {
    position: absolute;
    top: 320px;
    font-style: italic;
}

.journal-box .triangle-01 {
    border: 10px solid transparent;
    border-right: 10px solid white;
    position: absolute;
    left: -20px;
    top: 30px;
    z-index: 10;
}

.journal-box .triangle-02 {
    border: 10px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    left: 380px;
    top: 50px;
    z-index: 10;
}

.journal-box .triangle-03 {
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    left: 50px;
    top: -20px;
    z-index: 10;
}

.first, .second, .third {position: relative;}

.first a, .second a, .third a  {position: relative; max-height: 380px;}

.heart, .drop, .leaf {
    position: absolute;
    top: 40%; left: 0; right: 0; bottom: 0;
    margin: 0 auto;
    overflow: hidden;
}

.journal .bottom {overflow: hidden}

.offer {
    width: 100%;
    background: url("images/offer-background.jpg") center no-repeat;
    min-height: 650px;
}

.offer-container {
    padding-left: 15px;
    width: 700px;
}

.offer .wave {
    padding: 140px 0 45px 0;
}

.offer h3 {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #2c2e37;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.offer p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #949494;
    padding-bottom: 30px;
    line-height: 1.5;
}

/* ORDER FORM */
.form {
    width: 855px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
}

.data {
    height: 35px;
    background: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #848484;
    margin: 12px 0 13px 20px;
    padding-left: 10px;
}

.slice {border-right: 1px solid #ebebeb}

.order {
    background: #36aeea;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    float: right;
    padding: 23px 55px 21px 55px;
    margin: 2px 2px 0 0;
    cursor: pointer;
}
/* END ORDER FORM */

.secure {
    float: left;
    padding-top: 20px;
    width: 300px;
}

.secure p {
    color: #36aeea;
}

.secure img {
    float: left;
    padding-right: 10px;
    padding-top: 3px;
}

.scheme {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.scheme .wave {padding-top: 60px}

.scheme h2, .travel-with-us h2, .gallery h2, .clients h2 {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 3px;
    color: #2c2e37;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.scheme-container {
    width: 1140px;
    float: left;
    margin: 0 auto;
    position: relative;
}

.scheme-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #3bb0eb;
    width: 47px;
    height: 32px;
    padding-top: 15px;
    border: 3px solid #36aeea;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    background: #ffffff;
    position: absolute;
    margin-left: 86px;
}

.circle {
    float: left;
    width: 225px;
    max-height: 420px;
    margin-right: 80px;
    background: url("images/vertical-slice.png") no-repeat top;
}

.circle img {
    padding-left: 25px;
    padding-top: 100px;
}

.circle h6 {
    font-family: "Roboto Black", sans-serif;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    padding: 15px 0 0 0;
    margin: 0;
    color: #2c2e37;
}

.circle p {
    font-family: "Roboto Light", sans-serif;
    text-align: center;
    color: #949494;
    line-height: 1.5;
}

.last {
    padding-right: 0;
    margin-right: 0;
}

.dotted {
    position: absolute;
    top: 23px;
    left: 112px;
    width: 925px;
    background: url("images/horizontal-slice.png") repeat-x;
    overflow: hidden;
    height: 2px;
    z-index: 1;
}

#scheme.container {
    overflow: hidden;
    margin-bottom: 100px;
}

.travel-with-us {
    min-height: 1000px;
    background:
    url("images/pixel_world_map_blue.png") no-repeat top center,
    url( images/travel-background.jpg) no-repeat bottom center;
    width: 100%;
}

.travel-with-us .container, .gallery .container, .clients .container {
    text-align: center;
}

.travel-with-us .container .wave {
    margin-top: -15px;
}

.mountain-offers {
    float: left;
    width: 1140px;
    margin: 0 auto;
}

.carpathian, .alps, .pyrenees, .rocky, .kavkaz {
    max-height: 382px;
    max-width: 200px;
    min-height: 382px;
    min-width: 200px;
    float: left;
    margin-right: 35px;
}



.carpathian {background-image: url("images/offer_1.jpg");}
.alps {background-image: url("images/offer_2.jpg");}
.pyrenees {background-image: url("images/offer_3.jpg");}
.rocky {background-image: url("images/offer_4.jpg");}
.kavkaz {background-image: url("images/offer_5.jpg"); margin-right: 0}

.mountain-offers .rating {float: left;}

.mountain-offers h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    color: #ffffff;
    margin-top: 115px;
    margin-left: 20px;
    float: left;
}

.mountain-offers p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #ffffff;
    float: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    max-height: 30px;
    overflow: hidden;
}

.mountain-offers h4:hover {color: #da4f4e;}

.rating {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 1.5em;
    width: 200px;
    text-align: left;
}

.star {
    color: #ffffff;
    cursor: pointer;
}

.star:hover:before {
    content: "\2605";
    position: absolute;
    color: #da4f4e;
}

.mountain-offers .old-price {
    font-size: 18px;
    margin-top: 110px;
    text-decoration: line-through;
}

.mountain-offers .new-price {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 26px;
    margin: 105px 20px 0 0;
    float: right;
}

.gallery {
    overflow: hidden;
}

.gallery .wave, .clients .wave {
    margin-top: 50px;
}

.gallery-1 {width: 260px}
.gallery-2 {width: 360px}
.gallery-3 {width: 455px}

.gallery-1, .gallery-2 {margin-right: 45px}

.gallery-1, .gallery-2, .gallery-3 {float: left}

.top-image {margin-bottom: 45px}

.logos {
    width: 100%;
    background: #f8f9fa;
    min-height: 180px;
}

.logos .logo-container {float: left; margin-top: 80px;}

.logo-partners {
    min-width: 195px;
    float: left;
    text-align: center;
}

.clients {
    min-height: 1278px;
    background:
    url("images/footer-background.png") no-repeat top center;
    width: 100%;
}

.client1, .client2 {
    width: 570px;
    float: left;
}

.client1 {margin-right: 30px}

.client1 span, .client2 span {
    font-family: LeagueGothic, sans-serif;
    font-size: 92px;
    color: #bcbcbc;
    line-height: 0;
    margin-top: 50px;
}

.clients span, .clients p, .clients .name {
    float: left;
}

.client1 p, .client2 p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #bcbcbc;
    line-height: 1.5;
    text-align: left;
}

.name {margin-top: 15px}

.name img {
    float: left;
    border-radius: 35px;
}

.name .bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #36aeea;
    margin-top: 20px;
    margin-left: 15px;
}

.name p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #36aeea;
    margin-top: 20px;
    margin-left: 15px;
}

/* CONTACT FORM */
.contact-form {
    position: relative;
    top: 450px;
    margin: 0 auto;
    width: 520px;
    height: 500px;
    background: url("images/contact-background.png") no-repeat center;
}

.contact {
    width: 455px;
    margin: 0 auto;
    border-radius: 5px;
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
}

.contact-data {
    height: 35px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #848484;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
    width: 451px;
    background: #ffffff;
    border-radius: 5px;
}

.contact-order {
    background: #36aeea;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 3px;
    border: none;
    border-radius: 5px;
    padding: 20px 0;
    margin-top: 10px;
    cursor: pointer;
    width: 461px;
}

.contact-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    }

.contact-form .contact-container .contact-big {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #36aeea;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    float: none;
    margin-bottom: 20px;
}

.contact-form .contact-container p {
    float: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #383e4a;
    font-weight: 400;
}
/* END ORDER FORM */

.footer {
    width: 100%;
    background: #3e606a;
    min-height: 80px;
}

.copyright {
    float: left;
    color: #78aaba;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 25%;
}

.telephone {
    color: #7ec2d6;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 700;
    float: right;
    margin-right: 15px;
    margin-top: 25px;
}

.social {
    float: left;
    margin-top: 15px;
}

.social a {
    margin-right: 10px;
    color: #ffffff;
}

.social .fa {
    font-size: 2em;
}

.social .fa-twitter {padding: 10px 10px; background: #29c4f6}
.social .fa-facebook {padding: 10px 16px; background: #6788ce}
.social .fa-vk {padding: 10px 9px; background: #54769a}